<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>index</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="" rel="stylesheet">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
		<script type="text/javascript" src="javascripts/index.js">

		</script>
	</head>
	<body>
		<div id="error"></div>
		<div ><img id="image" src="" alt="" width="200" height="200"></div>
		<button id="btnCapture">Capture image</button>
	</body>
</html>